@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
        --background: 34 38% 98%;
        --foreground: 34 79% 0%;
        --muted: 34 35% 91%;
        --muted-foreground: 34 15% 36%;
        --popover: 34 38% 98%;
        --popover-foreground: 34 79% 0%;
        --card: 34 38% 98%;
        --card-foreground: 34 79% 0%;
        --border: 34 3% 93%;
        --input: 34 3% 93%;
        --primary: 34 90% 78%;
        --primary-foreground: 34 90% 18%;
        --secondary: 34 2% 88%;
        --secondary-foreground: 34 2% 28%;
        --accent: 34 8% 81%;
        --accent-foreground: 34 8% 21%;
        --destructive: 1 94% 32%;
        --destructive-foreground: 1 94% 92%;
        --ring: 34 90% 78%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 34 57% 0%;
        --foreground: 34 34% 98%;
        --muted: 34 35% 9%;
        --muted-foreground: 34 15% 64%;
        --popover: 34 57% 0%;
        --popover-foreground: 34 34% 98%;
        --card: 34 57% 0%;
        --card-foreground: 34 34% 98%;
        --border: 34 3% 14%;
        --input: 34 3% 14%;
        --primary: 34 90% 78%;
        --primary-foreground: 34 90% 18%;
        --secondary: 34 1% 8%;
        --secondary-foreground: 34 1% 68%;
        --accent: 34 11% 17%;
        --accent-foreground: 34 11% 77%;
        --destructive: 1 94% 59%;
        --destructive-foreground: 0 0% 100%;
        --ring: 34 90% 78%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

html,
body,
#root {
    height: 100%;
}
